<section id="content">
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
        </div>
      </div>
      <div class="flex">
        <app-dashboard-cards myclass="bx fa-solid fa-address-card" titleh3="120" text="Adherant"></app-dashboard-cards>
        <app-dashboard-cards myclass="bx fa-solid fa-dumbbell" titleh3=5 text="Sports"></app-dashboard-cards>
        <app-dashboard-cards myclass="bx fa-solid fa-hand-holding-dollar" titleh3= "2543 MAD" text="Revenu dernier mois"></app-dashboard-cards>
      </div>
      <app-dashboard-table></app-dashboard-table>
    </main>
  </section>
