<section id="content">
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
        </div>
      </div>
      <div class="flex">
        <app-dashboard-cards myclass="bx fa-solid fa-address-card" titleh3="{{NombreAbonnements}}" text="Total Abonnements"></app-dashboard-cards>
        <app-dashboard-cards myclass="bx fa-solid fa-dumbbell" titleh3="{{NombreAdherants}}" text="Total Adherants"></app-dashboard-cards>
        <app-dashboard-cards myclass="bx fa-solid fa-dumbbell" titleh3="{{NombreSports}}" text="Total Sports"></app-dashboard-cards>
        <app-dashboard-cards myclass="bx fa-solid fa-hand-holding-dollar" titleh3= "{{Budget}} MAD" text="Revenu du dernier mois"></app-dashboard-cards>
      </div>
      <app-dashboard-table></app-dashboard-table>
    </main>
  </section>
