.formulaire{
    padding: 20px 50px;
    background-color: #D9D9D9;
    width: 95%;
    margin: 10px 25px;
    border-radius: 15px;
}
.formulaire button{
    background-color: #128989;
    border-color: #128989;
}
