<div class="table-data">
    <div class="order">
        <div class="head">
          <h3>Abonnements qui vont terminer ce mois-ci</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date debut d'abonnement</th>
              <th>Date fin Abonnement</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let abonnement of Abonnements | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}">
              <td>{{abonnement.nom}}</td>
              <td>{{abonnement.date_debut}}</td>
              <td>{{abonnement.date_fin}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>