<div class="table-data">
    <div class="order">
        <div class="head">
          <h3>Clients avec abonnement presque fini</h3>
          <i class='bx bx-search'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date debut d'abonnement</th>
              <th>Date fin Abonnement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="assets/people.jpg">
                <p>John Doe</p>
              </td>
              <td>21-10-2023</td>
              <td>01-10-2024</td>
            </tr>
            <tr>
              <td>
                <img src="assets/people.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td>01-10-2024</td>
            </tr>
            <tr>
              <td>
                <img src="assets/people.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td>01-10-2024</td>
            </tr>
            <tr>
              <td>
                <img src="assets/people.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td>01-10-2024</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>