<div class="formulaire">
    <h2>Modifier les informations du abonnement</h2>
    <div class="formulaire">
        <form class="row g-3 needs-validation" (ngSubmit)="updateAbonnement()" >         
            <div class="col-md-3 form-champ">
              <label for="validationCustom03" class="form-label">Sports</label>
              <input type="text" name="sports" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col-md-3 form-champ">
              <label for="validationCustom05" class="form-label">Date debut</label>
              <input type="date" [(ngModel)]="AbonnementResponse.date_debut" name="date_debut"  class="form-control" id="validationCustom05" required>
            </div>
            <div class="col-md-3 form-champ">
              <label for="validationCustom05" class="form-label">Date Fin</label>
              <input type="date" [(ngModel)]="AbonnementResponse.date_fin" name="date_fin"  class="form-control" id="validationCustom05" required>
            </div>
            <div class="col-md-3 form-champ">
              <label for="validationCustom05" class="form-label">Prix</label>
              <input type="number" [(ngModel)]="AbonnementResponse.prix_totale" name="prix_totale"  class="form-control" id="validationCustom05" required>
            </div>
            <button type="submit"  class="btn btn-success">Enregistrer</button>      
          </form>
    </div>
    <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
    <div *ngIf="error" class="alert alert-success" role="alert">{{error}}</div>
</div>