<div class="mt -5 container">
    <div class="card">
        <div class="card-header">
          <h2>Liste des Abonnementes
            <a routerLink="/abonnement/add" class="btn btn-success float-end">Ajouter</a>
          </h2>
          <input class="form-control me-2" [(ngModel)]="data"  name="data" type="search" placeholder="Saisir le CIN ou nom" (input)="chercherAbonnement()">
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-secondary float-end" (click)="exportToCSV()">Exporter en CSV</button>
          <div *ngIf="message" class="alert alert-success" role="alert">{{message}}</div>
          <table class="table table-borderehd">
            <thead>
                <tr>
                    <th>CIN Adherant</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Type abonnement</th>
                    <th>Prix</th>
                    <th>Date debut</th>
                    <th>Date fin</th>
                    <th>Sports</th>
                    <th>Modifier</th>
                    <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let abonnement of Abonnements | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}">
                  <td>{{abonnement.cin}}</td>
                  <td>{{abonnement.nom}}</td>
                  <td>{{abonnement.prenom}}</td>
                  <td>{{abonnement.typeAbonnement}}</td>
                  <td>{{abonnement.prix_totale}} MAD</td>
                  <td>{{abonnement.date_debut}}</td>
                  <td>{{abonnement.date_fin}}</td>
                  <td><button class="btn btn-success" (click)="OpenSports($event, abonnement.id)">Voir les sports</button></td>
                  <td><a routerLink="/abonnement/{{abonnement.id}}/edit" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                  <td>
                    <button *ngIf="abonnement.active === 1" (click)="deleteAbonnement($event, abonnement.id)" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                    <button *ngIf="abonnement.active === 0" (click)="activerAbonnement($event, abonnement.id)" class="btn btn-success">Activer</button>
                  </td>
                </tr>
              </tbody>
          </table>
          <pagination-controls (pageChange)="onPageChange($event)" class="pagination"></pagination-controls>
        </div>
        
  </div>
</div>